*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# misc for this Java/Spring repo
.DS_Store
*.7z
*.log
logs/
.idea/
*.iml
.classpath
.project
target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
